# App
ENV=development
MODULE_ROOT=${PWD}

# Database
DATABASE_URL=postgres://app:password@127.0.0.1:5432/employee_management?sslmode=disable
DATABASE_WRITER_URL=postgres://app_writer:password@127.0.0.1:5432/employee_management?sslmode=disable
DATABASE_READER_URL=postgres://app_reader:password@127.0.0.1:5432/employee_management?sslmode=disable
